body {
  padding-top: 65px;
  width: 3000px;
}

.with-left-border {
  border-left: 1px solid #cdd0d4;
}

table{
    table-layout: fixed;
}

th, td {
    overflow: hidden;
    word-wrap: break-word;
}

.pager {
	text-align: left;
}